body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.hidden {
  display: none;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
}

#splash-dev, #splash-title {
  font-size: 2em;
  margin-top: 40vh;
}

#location-desc {
  padding: 0 5px;
  text-align: justify;
}

.class-option {
  cursor: pointer;
  margin: 10px auto;
  width: 80%;
  padding: 10px;
  border: 1px solid #666;
  background-color: #222;
}

.section-title {
  margin-top: 15px;
  font-weight: bold;
}

.toggle-section {
  margin: 10px 5px;
  padding: 5px;
  background-color: #222;
  border-radius: 5px;
  cursor: pointer;
}

.section-content {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 0.95em;
  color: #ccc;
}

.section-content.hidden {
  display: none;
}
